/* Get web font */


html {
  font-family: 'Gluten', cursive;}

 /* Change background color */
body {
    background: rgb(126, 75, 126)

    /*background-color: rgb(126, 75, 126); */ /* same as above, but more specific*/
  }

  section {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;

  }

  /* Increase right-margin and bottom margin on small headings */
  h3 {
display: block;
display: inline;
display: inline-block;
    margin: 0px 0px .5pc 25pt;
    position: static;
  }

  /* hide picture on small screens */
  @media (max-width: 50rem) {
    #pic {
      display:none;
    }
  }
  

  /* Make the attendance list annoying to read */
  #attendance > li {
    margin-left: 0.5in;
    color: blue;

    display: inline-grid ;
    grid-template-columns: [first] auto [line2] auto [line3] auto [end];
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: row1-start;
    grid-row-end: 2;
    }


    
    /* Make some headings orange with padding */
      /* Also give them a cute rounded border I guess */
  h1, h2 {
      
    display: block;
    text-decoration: underline dotted;
    text-align:center;
    color: hsla(24, 100%, 50%, 1);
    margin: auto;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left:5px;
    padding-right:5px;
    border-style:ridge  ;
    border-color:gray;
    border-width: 5px;
    border-radius: 7px;
  } 

    /* Color and pad the menu */
  .menu {
    display: inline;
    color: Green;
    margin-left: 0.5in;
  } 

  /* Highlight the solution */
  #solution {
    position: relative;
    top: 4px; left: 40px;
    display: block-inline;
    color: blue;
    height:2rem;
    padding: 15px 5px 5px 15px;
    width: 0lh;
    max-width:auto;
    min-width:auto; 
    border: 5px solid black;

  }

  /* Hyperlinks are now yello, deal with it :shades: */
  a[href] {
      color: yellow;
  }

  /* Hovering over hyperlinks is pink */
  a:hover { 
      color:pink;
  }

  /* highlight hyperlinks when clicked */
  a:active{
    color:red;
  }

  /* Highlight small headings when clicked too... I guess*/
  h3:active{
    color:red;
  }

  /* All paragraph content within section (basically all paragraphs) */
  section > p {
      color: rgb(32, 4, 41);
  }

  /* make agenda list a little longer */
  ul.nested-list li {
    margin: 0.25em;
    
  }

  /* Circles for nested list of any lists */
  li li {
    list-style-type: circle;
  }

  /* For any paragraphs immediately after heading */
  h2 + p {
      color: white;
  }

  /* Any lists next to headings will be white (but the only one we had was overwritten) */
  h2 ~ ol {
    color: white;
  }
  

